# 忽略 SAC 模型目录下所有文件
tries/burger_navi_in_world/saved_models/SAC/**/*

# 例外：保留 136000 步的模型 + 回放缓冲
!tries/burger_navi_in_world/saved_models/SAC/sac_nav_model_136000_steps.zip
!tries/burger_navi_in_world/saved_models/SAC/sac_nav_model_replay_buffer_136000_steps.pkl

# 忽略 压缩包模型
*.zip

# 忽略 经验回放池 / 数据缓存
*.pkl
*.pth
*.pkl.gz

# # 忽略 日志、输出文件
# *.log
# *.out
# *.csv
# *.json

# # Python 自动生成的文件
# __pycache__/
# *.pyc
# *.pyo
# *.egg-info/
# dist/
# build/

# # 系统文件
# .DS_Store