absl-py==2.4.0
action-msgs==1.2.2
action-tutorials-interfaces==0.20.9
action-tutorials-py==0.20.9
actionlib-msgs==4.9.1
actuator-msgs==0.0.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
ament-cmake-test==1.3.14
ament-copyright==0.12.15
ament-cppcheck==0.12.15
ament-cpplint==0.12.15
ament-flake8==0.12.15
ament-index-python==1.4.1
ament-lint==0.12.15
ament-lint-cmake==0.12.15
ament-package==0.14.2
ament-pep257==0.12.15
ament-uncrustify==0.12.15
ament-xmllint==0.12.15
angles==1.15.0
annotated-types==0.7.0
anthropic==0.42.0
anyio==4.8.0
astropy==6.1.4
astropy-iers-data==0.2024.10.21.0.33.21
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
async-timeout==5.0.1
beautifulsoup4==4.12.3
builtin-interfaces==1.2.2
cachetools==7.0.5
certifi==2026.2.25
charset-normalizer==3.4.1
cloudpickle==3.1.2
colorama==0.4.6
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
composition-interfaces==1.2.2
contourpy==1.3.0
cuda-bindings==13.2.0
cuda-pathfinder==1.5.0
cuda-toolkit==13.0.2
cv-bridge==3.2.1
cycler==0.12.1
Cython==3.0.11
debugpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_debugpy_1769744974/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
demo-nodes-py==0.20.9
diagnostic-msgs==4.9.1
dill==0.4.0
domain-coordinator==0.10.0
example-interfaces==0.9.3
examples-rclpy-executors==0.15.5
examples-rclpy-minimal-action-client==0.15.5
examples-rclpy-minimal-action-server==0.15.5
examples-rclpy-minimal-client==0.15.5
examples-rclpy-minimal-publisher==0.15.5
examples-rclpy-minimal-service==0.15.5
examples-rclpy-minimal-subscriber==0.15.5
exceptiongroup==1.2.2
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
Farama-Notifications==0.0.4
filelock==3.25.2
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2026.3.0
gazebo-msgs==3.9.0
geometry-msgs==4.9.1
gps-msgs==2.1.2
grpcio==1.80.0
gwdatafind==1.2.0
gymnasium==1.2.3
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httpx==0.28.1
idna==3.11
igwn-auth-utils==1.1.1
image-geometry==3.2.1
ImageIO==2.37.3
interactive-markers==2.3.2
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipykernel_1770566133/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1748711175/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.1.6
jiter==0.8.2
joblib==1.5.3
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jsonpatch==1.33
jsonpointer==3.1.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1767954655/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_core_1760643864/work
kiwisolver==1.4.7
lalsuite==7.23
langchain-core==1.2.28
langgraph==1.1.6
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.9
langgraph-sdk==0.3.13
langsmith==0.7.30
laser-geometry==2.4.1
launch==1.0.14
launch-ros==0.19.13
launch-testing==1.0.14
launch-testing-ros==0.19.13
launch-xml==1.0.14
launch-yaml==1.0.14
lazy-loader==0.5
lifecycle-msgs==1.2.2
ligo-segments==1.4.0
logging-demo==0.20.9
lscsoft-glue==4.0.0
Mako==1.3.6
map-msgs==2.1.0
Markdown==3.10.2
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.9.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1761214490209/work
mdurl==0.1.2
message-filters==4.3.14
mpld3==0.5.10
mpmath==1.3.0
multidict==6.1.0
nav-msgs==4.9.1
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.4.2
numpy==2.1.2
nvidia-cublas==13.1.0.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
orjson==3.11.8
ormsgpack==1.12.2
osrf-pycommon==2.1.6
packaging==24.1
pandas==2.2.3
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1770676243/work
pcl-msgs==1.0.0
pegasus-wms.api==5.0.8
pegasus-wms.common==5.0.8
pendulum-msgs==0.20.9
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==11.0.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1773199142/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
propcache==0.2.1
protobuf==7.34.1
psutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_psutil_1769678154/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
PyCBC==2.6.0
pydantic==2.10.4
pydantic_core==2.27.2
pyerfa==2.0.1.4
pygame==2.6.1
Pygments==2.19.1
PyJWT==2.12.1
pykerr==0.1.0
pyparsing==3.3.2
pyperclip==1.9.0
pyspnego==0.12.0
python-dateutil==2.9.0.post0
python-ligo-lw==1.8.3
python-qt-binding==1.1.3
pytz==2026.1.post1
PyYAML==6.0.3
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyzmq_1771716952/work
qiskit==2.2.0
qiskit-ibm-provider==0.11.0
qq==0.1.11
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.9
rcl-interfaces==1.2.2
rclpy==3.3.21
rcutils==5.1.8
requests==2.32.3
requests-toolbelt==1.0.0
requests_ntlm==1.3.0
resource-retriever==3.1.3
rich==13.9.4
rmw-dds-common==1.6.0
ros-gz-interfaces==0.244.23
ros2action==0.18.18
ros2bag==0.15.16
ros2cli==0.18.18
ros2component==0.18.18
ros2doctor==0.18.18
ros2interface==0.18.18
ros2launch==0.19.13
ros2lifecycle==0.18.18
ros2multicast==0.18.18
ros2node==0.18.18
ros2param==0.18.18
ros2pkg==0.18.18
ros2plugin==5.1.3
ros2run==0.18.18
ros2service==0.18.18
ros2topic==0.18.18
rosbag2-interfaces==0.15.16
rosbag2-py==0.15.16
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.8
rosidl-cli==3.1.8
rosidl-cmake==3.1.8
rosidl-generator-c==3.1.8
rosidl-generator-cpp==3.1.8
rosidl-generator-py==0.14.6
rosidl-generator-rs==0.4.11
rosidl-parser==3.1.8
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.4
rosidl-typesupport-fastrtps-cpp==2.2.4
rosidl-typesupport-introspection-c==3.1.8
rosidl-typesupport-introspection-cpp==3.1.8
rpyutils==0.2.2
rqt-action==2.0.1
rqt-bag==1.1.6
rqt-bag-plugins==1.1.6
rqt-console==2.0.3
rqt-graph==1.3.2
rqt-gui==1.1.9
rqt-gui-py==1.1.9
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.9
rqt-py-console==1.0.2
rqt-reconfigure==1.1.4
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.1
rustworkx==0.17.1
safe-netrc==1.0.1
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.14.1
scitokens==1.8.1
scripts==3.9.0
seaborn==0.13.2
sensor-msgs==4.9.1
sensor-msgs-py==4.9.1
shape-msgs==4.9.1
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sniffio==1.3.1
soupsieve==2.6
sros2==0.10.9
stable_baselines3==2.8.0
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statistics-msgs==1.2.2
std-msgs==4.9.1
std-srvs==4.9.1
stereo-msgs==4.9.1
stevedore==5.5.0
sympy==1.14.0
tbparse==0.0.9
teleop-twist-keyboard==2.4.1
tenacity==9.1.4
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tf-transformations==1.1.1
tf2-geometry-msgs==0.25.19
tf2-kdl==0.25.19
tf2-msgs==0.25.19
tf2-py==0.25.19
tf2-ros-py==0.25.19
tf2-sensor-msgs==0.25.19
tf2-tools==0.25.19
threadpoolctl==3.6.0
tifffile==2025.5.10
topic-monitor==0.20.9
torch==2.11.0
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1774357896577/work
tqdm==4.66.5
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
trajectory-msgs==4.9.1
triton==3.6.0
turtlesim==1.4.3
typing_extensions==4.12.2
tzdata==2024.2
unique-identifier-msgs==2.2.1
urllib3==2.6.3
uuid_utils==0.14.1
vision-msgs==4.1.1
visualization-msgs==4.9.1
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1770634525285/work
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.8
wordcloud==1.9.4
xacro==2.1.1
xxhash==3.6.0
yarl==1.18.3
zai-sdk==0.2.2
zstandard==0.25.0
